h1 {
  text-align: center;
}
html {
  background-color: #e3e6e9;
  margin: 5px 40px;
}
body {
  width: 400px;
  margin: 0 auto;
  background-color: white;
  padding: 30px;
  -webkit-box-shadow: 4px 4px 18px 12px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 18px 12px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 18px 12px rgba(34, 60, 80, 0.2);
}

ul {
  padding: 18px;
}

img {
  display: block;
  margin: 0 auto;
}
